<div>
  <h3>User Details</h3>
  <!-- Users table -->
  <table cellspacing="0" cellpadding="10" border="1">
     <thead>
       <tr>
         <th *ngFor="let head of tableHeader; let index = i">
           {{head | uppercase}}
         </th>
         <th>Actions</th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let user of users">
         <td *ngFor="let u of tableHeader">
           <span>{{user[u]}}</span>
           <span *ngIf="user && user.address">
            {{user.address[u]}}
           </span>
         </td>
         <td>
           <a href="javascript:void(0)" style="color:#f00" (click)="onDeleteUser(user)">Delete</a>
         </td>
       </tr>
     </tbody>
  </table>
</div>

