<div>
  <h3>User Details</h3>
  Show Record: <select name="" id="" [(ngModel)]="endIndex">
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="15">15</option>
  </select>
  <!-- Users table -->
  <table cellspacing="0" cellpadding="10" border="1">
     <thead>

      <!-- USERNAME or USER NAME -->
       <tr>
         <th *ngFor="let head of tableHeader; let index = i">
           {{head | uppercase}}
         </th>
         <th>Actions</th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let user of users | slice: startIndex : endIndex">
         <td *ngFor="let u of user | keyvalue: originalOrder">
           {{u.value}}
           <!-- <span>Key: {{u.key}}</span>
           <span>Value: {{u.value}}</span> -->
           <!-- <span>{{user[u]}}</span>
           <span *ngIf="user && user.address">
            {{user.address[u]}}
           </span> -->
         </td>
         <td>
           <a href="javascript:void(0)" style="color:#f00" (click)="onDeleteUser(user)">Delete</a>
         </td>
       </tr>
     </tbody>
  </table>
</div>

<a href="javascript:void(0)" (click)="showRecord()">Show More</a>


<h3>Custome Pipe Demostration</h3>

<ul>
  <li *ngFor="let student of students">
      <p><strong>Name: </strong> {{student.name}}</p>
      <p><strong>Gender: </strong> {{student.sex | gender}}</p>
  </li>
</ul>

