<h1 align="center">Developing Application Using Angular 10</h1><hr/>

<!-- <input type="text" [(ngModel)]="empName"> -->
<!-- Hero component call -->
<!-- <app-hero-details></app-hero-details> -->
<!-- <p>Welcome to {{uname}}</p>

<p><strong>Name</strong>: {{students.name}}</p>
<p><strong>Class</strong>: {{students.sClass}}</p>
<p><strong>Course</strong>: {{students.course}}</p>
<hr>


<h3>Student Record </h3>

<table cellspacing="0" cellpadding="10" border="1">
  <thead>
    <tr>
      <th *ngFor="let head of tableHeader">
        {{head}}
      </th>
    </tr>
  </thead>
  <tbody>
     <tr *ngFor = "let stRecord of studentDetails">
       <td >{{stRecord.name}}</td>
       <td>{{stRecord.sClass}}</td>
       <td>{{stRecord.course}}</td>
     </tr>
  </tbody>
</table> -->

<!-- <router-outlet></router-outlet> -->


<!-- <app-data-dinding></app-data-dinding> -->

<!-- <app-pipes-demo></app-pipes-demo> -->

<app-template-form></app-template-form>
